<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#FFFFFF" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="refresh" content="600">
  <meta property="og:site_name" content="Pollen" />
  <meta property="og:url" content="https://pollen.dhedegaard.dk/" />
  <meta property="og:title" content="Pollen" />
  <meta property="og:description" content="{{ range .output }}{{ .CityName }}: {{ .ForecastText }} - {{ end }}" />
  <meta property="og:image" content="/static/favicon.png" />
  <title>Pollen</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="manifest" href="/static/manifest.json" />
  <link rel="apple-touch-icon" href="/static/favicon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #acf8ac;">
    <div class="container">
      <span class="navbar-brand text-left">
        <img src="/static/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="Pollen icon"> Pollen
      </span>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {{ range .output }}
        <div class="col">
          <div class="card">
            <h5 class="card-header">{{ .CityName }}</h5>
            <ul class="list-group list-group-flush">
              {{ range .Values }}
                <li class="list-group-item">
                  <small>{{ .Name }}:</small> &nbsp;
                  {{ if le .Value 0 }}
                    <span class="text-muted">{{ .Value }}</span>
                  {{ else if le .Value 20 }}
                    <b class="text-muted text-success">{{ .Value }}</b>
                  {{ else if le .Value 50 }}
                    <b class="text-muted text-warning">{{ .Value }}</b>
                  {{ else }}
                    <b class="text-muted text-danger">{{ .Value }}</b>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
            {{ if ne .ForecastText "" }}
              <div class="card-block">
                <div class="card-subtitle text-muted"><small>{{ .ForecastText }}</small></div>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="row text-right">
      <div class="col">
        <small class="text-muted">
          {{ if .cacheTimestamp }}
            <span class="text-nowrap">Cache timestamp: <b>{{ .cacheTimestamp }} UTC</b>.</span>
          {{ end }}
          <span class="text-nowrap">API available <a href="/api">here</a>, get the source on <a href="https://github.com/dhedegaard/pollen">Github</a></span>
        </small>
      </div>
    </div>
  </div>
</body>

</html>